{{!-- page currently in work --}}

<!DOCTYPE html>
<html>

<head>

  <title>Dashboard</title>


  <link rel="stylesheet" href="css/style.css" type="text/css">


</head>
{{!-- background color set to black --}}
<body class="bg-dark"  >
       
  <div class="container-fluid" >
      <div class="row justify-content-center">
          <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-8">
                  <div class="card-header"><h3 class="text-center ">Search Codeforces Handle</h3></div>
                  <div class="card-body">
                        <form>
                          <input placeholder="tourist">
                          <button>search </button>
                      </form>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
               
       
        <script src="js/searchbar.js"></script>

    </body>

</html>